# Production Environment Variables

# The production port for the web server (defaults to 3000)
PORT=3000

# Set environment mode to production to enable static asset serving and secure cookies
NODE_ENV=production

# Production PostgreSQL Database connection string
DATABASE_URL="postgresql://username:password@hostname:5432/yachtflow?schema=public"
